.canvas {
  border: solid 10px black;
}
#canvas_pTag{
  text-align: center;
}
#restart {
  border: solid 1px black;  
  font-size: 2em;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#scoreBoard{
  text-align: center;
  font-size: 2em;
}
#previousScore{
  text-align: center;
  font-size: 2em;
}


